@font-face {
  font-family: roboto;
  src: url(/fonts/RobotoCondensed-Regular.ttf);
}
* {
  font-family: roboto;
}
body {
  background-color: black;
  margin: 0;
  height: 100%;
  overflow: scroll;
}
main {
  flex-grow: 1;
}
#wrapper {
  border: 2px solid;
  border-radius: 25px;
  background-color: rgb(160, 139, 75);
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
button {
  cursor: pointer;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 20px;
  padding-left: 20px;
}
header > img {
  height: 50px;
  width: 50px;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 5px;
}
