h2 {
  font-size: 10vw;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main p {
  font-weight: bold;
}

.inputs {
  width: 100%;
}

label {
  font-size: 15px;
  margin-left: 5px;
  font-weight: bold;
}

input {
  width: 90vw;
  height: 12vw;
  margin: 5px;
}

button {
  font-size: 6vw;
  height: 12vw;
  width: 80vw;
}

main > a {
  margin: 10px;
}
.feedback {
  height: 20vh;
  width: 70vw;
  background-color: white;
  position: absolute;
  top: 80vw;
  left: 15vw;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  visibility: hidden;
}

.feedback.visible {
  visibility: visible;
  opacity: 90%;
  z-index: 2;
}
#filter {
  visibility: hidden;
}
#filter.visible {
  visibility: visible;
  background-color: rgba(248, 248, 255, 0.6);
  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;
  z-index: 1;
}
.feedback > p {
  font-size: 20px;
  text-align: center;
}

.feedback > button {
  width: 50%;
  height: auto;
}

#link {
  margin-top: 20px;
}
#link a {
  color: black;
}
