#login-info {
  background-color: ghostwhite;
  display: flex;
  width: 90vw;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px;
}
#login-info {
  text-align: center;
}
#login-info button {
  width: 20%;
  height: auto;
  font-size: 15px;
}
