#wrapper {
  background-position: center;
  background-size: 60vh;
  background-repeat: no-repeat;
}
#login-info {
  background-color: ghostwhite;
  display: flex;
  width: 90vw;
  justify-content: space-between;
  border-radius: 8px;
  margin: 10px;
  margin-top: 10px;
  padding: 5px;
}
#login-info {
  text-align: center;
}
#login-info button {
  width: 25vw;
  height: auto;
  font-size: 15px;
}

.alternatives {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.alt {
  height: 8vh;
  width: 45vw;
  font-size: 15px;
  margin: 5px;
  padding: 10px;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
}
.alt:hover {
  background-color: lightgray;
}
.quiz-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.image {
  width: 93vw;
  border-radius: 10px;

  margin-top: 20px;
  margin-bottom: 10px;
}
